[Desktop Entry]
Type=Application
Exec=chromium-browser   --kiosk "http://oa.tlgchina.com:8081/LstechMobile/Machine/KanBan/MainView?id=6"
// Exec=chromium-browser  --kiosk  --app=http://oa.tlgchina.com:8081/LstechMobile/Machine/KanBan/MainView?id=6 (避免弹出框）

